Django==4.2.7
django-filter==23.4
djangorestframework==3.14.0
gunicorn==21.2.0
importlib-metadata==6.8.0
Markdown==3.5.1
psycopg2==2.9.9
bcrypt==4.1.2
# test
coverage==7.3.2
mypy==1.7.0
mypy-extensions==1.0.0
black==23.11.0
django-stubs==4.2.6
django-cors-headers==4.3.1