name: Organizator API CI

defaults:
  run:
    working-directory: ./organizator_api

on:
  pull_request:
    paths:
      - '.github/workflows/organizator_api_ci.yml'
      - 'organizator-api/**'
      - '!organizator/**'
    branches: [ master ]
  workflow_dispatch:

env:
  DEBUG: 1
  IMAGE_TAG: ${{ github.job }}-${{ github.sha }}

jobs:
  linter:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ "3.9" ]
    steps:
      - uses: actions/checkout@v3
      - name: Run type checks
        run: docker-compose -f ../docker-compose.yaml run --rm --no-deps api mypy . --cache-dir=/dev/null
      - name: Run linting
        run: docker-compose -f ../docker-compose.yaml run --rm --no-deps api black . --check --verbose
      - name: Remove running containers
        run: docker-compose -f ../docker-compose.yaml down
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ "3.9" ]
    steps:
      - uses: actions/checkout@v3
      - name: Run dev migrations
        run: docker-compose -f ../docker-compose.yaml run --rm api python manage.py migrate
      - name: Run tests
        run: docker-compose -f ../docker-compose.yaml run --rm api coverage run --source='./app' manage.py test
      - name: Generate test coverage xml
        run: |
          docker-compose -f ../docker-compose.yaml run --rm --no-deps api coverage xml
          sudo chown -R $USER:$USER $GITHUB_WORKSPACE
          sed -i 's/<source>\/code<\/source>/<source>organizator_api<\/source>/g' coverage.xml  
      - name: Publish coverage report in PR comment
        uses: orgoro/coverage@v3
        if: ${{ github.event_name == 'pull_request' }}
        with:
          coverageFile: organizator_api/coverage.xml
          thresholdAll: 0.9999
          thresholdNew: 0.9999
          thresholdModified: 0.9999
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Remove running containers
        run: docker-compose -f ../docker-compose.yaml down